---
// Footer component
---

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Emmanuel Prayer Fellowship Church</h3>
                <p>Transforming lives through the power of the Gospel</p>
            </div>
            <div class="footer-section">
                <h4 data-translate="home.connect">Connect</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4 data-translate="home.resources">Resources</h4>
                <ul>
                    <li><a href="/about" data-translate="nav.about">About</a></li>
                    <li><a href="/sermons" data-translate="nav.sermons">Sermons</a></li>
                    <li><a href="/events" data-translate="nav.events">Events</a></li>
                    <li><a href="/song-pdfs">Download Song PDF</a></li>
                    <li><a href="/prayer-request" data-translate="nav.prayerRequest">Prayer Request</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4 data-translate="home.contact">Contact</h4>
                <p><span data-translate="home.email">Email</span>: info@Emmanuel Prayer Fellowship Church.org</p>
                <p><span data-translate="home.phone">Phone</span>: (555) 123-4567</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {new Date().getFullYear()} <span data-translate="home.copyright">Emmanuel Prayer Fellowship Church. All rights reserved.</span></p>
        </div>
    </div>
</footer>

